=render 'layouts/header'
%div.show_wrapper
  %div.show_name
    = @user.name
  %div.show_email
    = @user.email
  %div.edit_btn
    =link_to 'プロフィール編集', edit_user_registration_path, class:'btn btn-info'

